body, p {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

table {
  width: 100%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

thead {
  display: table-header-group;
}

tr {
  display: table-row;
}

th {
  display: table-cell;
  text-align: center;
}

th, tr, td {
  padding: 0 5px 7px 5px;
}

th:first-child {
  width: 20%;
}

th:last-child {
  width: 33%;
}

.new-book {
  margin: 18px auto;
}

.title-text, .body-text {
  margin-bottom: 10px;
}

textarea, input#title {
  margin: 0;
  width: 165px;
  height: 29px;
}

.create-book {
  display: block;
  margin-bottom: 10px;
}

.create-book input {
  padding: 1px 6px;
}