body, p {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a {
  color: #333;
}

a:not(.line):hover {
  color: white;
  background-color: black;
}

table {
  width: 100%;
}

th, tr, td {
  padding: 0 5px 7px 5px;
}

th:first-child {
  width: 20%;
}

th:last-child {
  width: 33%;
}

.new-book {
  margin: 18px auto;
}

.title-text, .body-text {
  margin-bottom: 10px;
}

.edit {
  margin-bottom: 10px;
}

label {
  display: block;
}

textarea, input#title {
  margin: 0;
  width: 165px;
  height: 29px;
}

.create-book {
  display: block;
  margin-bottom: 10px;
}

.create-book input {
  padding: 1px 6px;
}

p#notice {
  color: green;
}